/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nerko One', cursive;
    background-color: rgb(181, 215, 228);   
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.img-name {
    text-shadow: 1px 1px grey;
    text-align: center;
    font-size: 35px;
}

.row .card:hover {
    background-color: white;
    background-size: 90%;
    background-repeat: no-repeat;
}

.row .card:hover .invisible{
    display: inline-block;
}

/* header */

h1 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px grey;
    color: white;
    font-size: 90px;
    padding: 20px;
}

/* main */

.row {
    width: 100%;
    margin-bottom: 50px;
}

.row .card {
    float: left;
    position: relative;
    height: 240px;
    width: calc(100% / 4 - 50px);
    margin: 0 25px;
    box-shadow: 1px 1px grey;
    cursor: pointer;
    background-image: url('../img/pattern.png');
    background-position: top;
    background-size: 140%;
    border-radius: 10px;
}

.invisible {
    display: none;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

/* baloon special */

.row .card.special {
    background-color: white;
    background-image: url('../img/noun_air_balloon_3134741.png');
    background-size: 90%;
    background-repeat: no-repeat;
}

.row .img-name.special {
    color: rgb(213, 57, 130);
    position: absolute;
    bottom: 5px;
    width: 100%;
}

/* baloon */

.row .card.baloon:hover .img-name {
    color: rgb(213, 57, 130);
}

.row .card.baloon:hover {
    background-image: url('../img/noun_air_balloon_3134741.png');
}

/* tractor */

.row .card.tractor:hover .img-name {
    color: orange;
}

.row .card.tractor:hover {
    background-image: url('../img/noun_Tractor_3134797.png');
}

/* submarine */

.row .card.submarine:hover .img-name {
    color: blue;
}

.row .card.submarine:hover {
    background-image: url('../img/noun_Submarine_3134738.png');
}

/* bicycle */

.row .card.bicycle:hover .img-name {
    color: gold;
}

.row .card.bicycle:hover {
    background-image: url('../img/noun_Bicycle_3134821.png');
}

/* ship */

.row .card.ship:hover .img-name {
    color: red;
}

.row .card.ship:hover {
    background-image: url('../img/noun_Cruise_Ship_3134824.png');
}

/* tram */

.row .card.tram:hover .img-name {
    color: green;
}

.row .card.tram:hover {
    background-image: url('../img/noun_Tram_3134750.png');
}

/* footer */

footer {
    text-align: center;
    font-size: 25px;
}